<div class="row">
  <div class="col" [formGroup]="this.itemForm">
    <!-- Editable table -->
    <div class="card text-light bg-secondary bg-opacity-25">
      <div class="card-header text-center font-weight-bold">
        <input type="text"
               placeholder="Name der Veranstaltung"
               formControlName="title">
      </div>
      <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Editable table</h3>
      <div class="card-body">
        <div id="table" class="table-editable">
          <table class="table table-bordered table-striped text-center text-light">
            <tr>
              <th class="text-center col-6">Name</th>
              <th class="text-center col-2">Preis (€)</th>
              <th class="text-center col-2">Anzahl verkauft</th>
              <th class="text-center col-2">Löschen</th>
            </tr>
            <tr *ngFor="let item of this.itemList; let id = index">
              <td>
                <span (keyup)="changeValue(id, 'name', $event)" (blur)="updateList(id, 'name', $event)" contenteditable="true">{{item.name}}</span>
              </td>
              <td>
                <span (keyup)="changeValue(id, 'price', $event)" (blur)="updateList(id, 'price', $event)" contenteditable="true">{{item.price}}</span>
              </td>
              <td>
                <span (keyup)="changeValue(id, 'counter', $event)" (blur)="updateList(id, 'counter', $event)" contenteditable="true">{{item.counter}}</span>
              </td>
              <td>
                <span class="table-remove">
                  <button class="btn btn-danger btn-sm m-1" (click)="remove(id)">Eintrag entfernen</button>
                </span>
              </td>
            </tr>
          </table>
        </div>
        <button class="btn btn-secondary" (click)="add()">Zeile hinzufügen</button>
      </div>
    </div>
    <!-- Editable table -->
  </div>
</div>

<hr class="bg-light mt-3"/>

<div class="row mt-3">
  <div class="col-9"></div>
  <div class="col-3 text-center">
    <button type="button" class="btn btn-lg btn-success" (click)="this.saveConfigTable()">Speichern</button>
  </div>
</div>

<app-toast aria-live="polite" aria-atomic="true" ></app-toast>
