<div class="container">
  <div class="row text-center">
    <div class="col col-10 mx-auto" [formGroup]="this.eventForm">
      <div class="card text-light bg-secondary bg-opacity-25">
        <div class="card-header modal-dialog-centered">
          <div class="col-6 mx-auto">
            <input type="text"
                   class="form-control form-control-lg bg-secondary text-center"
                   [class.is-invalid]="this.eventForm.controls.title.valid == false"
                   [class.is-valid]="this.eventForm.controls.title.valid"
                   formControlName="title">
          </div>
        </div>
        <div class="card-body">
          <div id="table" class="table-editable">
            <table class="table table-bordered table-striped text-center text-light">
              <tr>
                <th class="text-center col-4">Name</th>
                <th class="text-center col-2">Preis (€)</th>
                <th class="text-center col-2">Anzahl verkauft (extern)</th>
                <th class="text-center col-2">Anzahl verkauft (intern)</th>
                <th class="text-center col-2">Löschen</th>
              </tr>
              <ng-container formArrayName="items">
                <ng-container *ngFor="let item of this.items.controls; let i = index">
                  <tr [formGroupName]="i">
                    <td>
                      <input
                        type="text"
                        class="form-control bg-secondary"
                        [class.is-invalid]="items.controls[i].get('name')?.valid == false"
                        [class.is-valid]="items.controls[i].get('name')?.valid"
                        formControlName="name">
                    </td>
                    <td>
                      <input
                        type="number"
                        class="form-control bg-secondary"
                        [class.is-invalid]="items.controls[i].get('price')?.valid == false"
                        [class.is-valid]="items.controls[i].get('price')?.valid"
                        formControlName="price">
                    </td>
                    <td>
                      <input
                        type="number"
                        class="form-control bg-secondary"
                        [class.is-invalid]="items.controls[i].get('counterExternal')?.valid == false"
                        [class.is-valid]="items.controls[i].get('counterExternal')?.valid"
                        formControlName="counterExternal">
                    </td>
                    <td>
                      <input
                        type="number"
                        class="form-control bg-secondary"
                        [class.is-invalid]="items.controls[i].get('counterInternal')?.valid == false"
                        [class.is-valid]="items.controls[i].get('counterInternal')?.valid"
                        formControlName="counterInternal">
                    </td>
                    <td>
                    <span class="table-remove">
                      <button class="btn btn-danger btn-sm m-1" (click)="deleteItem(i)">Eintrag entfernen</button>
                    </span>
                    </td>
                  </tr>
                </ng-container>
              </ng-container>
            </table>
            <button class="btn btn-secondary" (click)="addItem()">Eintrag hinzufügen</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr class="bg-light mt-3"/>

  <div class="row mt-3">
    <div class="col text-center">
      <button type="button" class="btn btn-lg btn-info" (click)="this.setCurrentEvent()">Setzen</button>
    </div>
    <div class="col text-center">
      <button type="button" class="btn btn-lg btn-danger" (click)="this.setCurrentEvent()">Löschen</button>
    </div>
    <div class="col text-center">
      <button type="button" class="btn btn-lg btn-success" (click)="this.saveConfigTable()">Speichern</button>
    </div>
  </div>

</div>
