<div class="container">
  <div class="row text-center">
    <div class="col col-10 mx-auto" [formGroup]="this.eventForm">
      <div class="card text-light bg-secondary bg-opacity-25">
        <div class="card-header modal-dialog-centered">
          <div class="col-6 mx-auto">
            <input type="text"
                   class="form-control form-control-lg bg-secondary text-center fw-bold"
                   [class.is-invalid]="this.eventForm.controls.title.valid == false"
                   [class.is-valid]="this.eventForm.controls.title.valid"
                   formControlName="title">
          </div>
        </div>
        <div class="card-body">
          <div id="table" class="table-editable">
            <table class="table table-bordered table-striped text-center text-light">
              <tr>
                <th class="text-center col-4">Name</th>
                <th class="text-center col-2">Preis (€)</th>
                <th class="text-center col-2">Anzahl verkauft (extern)</th>
                <th class="text-center col-2">Anzahl verkauft (intern)</th>
                <th class="text-center col-2">Löschen</th>
              </tr>
              <ng-container formArrayName="items">
                <ng-container *ngFor="let item of this.items.controls; let i = index">
                  <tr [formGroupName]="i">
                    <td>
                      <input
                        type="text"
                        class="form-control bg-secondary fw-bold"
                        [class.is-invalid]="items.controls[i].get('name')?.valid == false"
                        [class.is-valid]="items.controls[i].get('name')?.valid"
                        formControlName="name">
                    </td>
                    <td>
                      <input
                        type="number"
                        class="form-control bg-secondary fw-bold"
                        [class.is-invalid]="items.controls[i].get('price')?.valid == false"
                        [class.is-valid]="items.controls[i].get('price')?.valid"
                        formControlName="price">
                    </td>
                    <td>
                      <input
                        type="number"
                        class="form-control bg-secondary fw-bold"
                        [class.is-invalid]="items.controls[i].get('counterExternal')?.valid == false"
                        [class.is-valid]="items.controls[i].get('counterExternal')?.valid"
                        formControlName="counterExternal">
                    </td>
                    <td>
                      <input
                        type="number"
                        class="form-control bg-secondary fw-bold"
                        [class.is-invalid]="items.controls[i].get('counterInternal')?.valid == false"
                        [class.is-valid]="items.controls[i].get('counterInternal')?.valid"
                        formControlName="counterInternal">
                    </td>
                    <td>
                    <span class="table-remove">
                      <button class="btn btn-warning btn-sm m-1" (click)="changeDeleteRowState(i)" *ngIf="!this.deleteRowState[i]">Eintrag entfernen</button>
                      <button class="btn btn-danger btn-sm m-1" (click)="deleteItem(i)" *ngIf="this.deleteRowState[i]">Eintrag entfernen</button>
                    </span>
                    </td>
                  </tr>
                </ng-container>
              </ng-container>
            </table>
            <button class="btn btn-secondary" (click)="addItem()">Eintrag hinzufügen</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr class="bg-light mt-3"/>

  <div class="row mt-3">
    <div class="col text-center">
      <button type="button" class="btn btn-lg btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" [disabled]="!this.isDeleteButtonActive">Löschen</button>
    </div>
    <div class="col text-center">
      <button type="button" class="btn btn-lg btn-light" (click)="this.resetEvent()" [disabled]="!this.isDeleteButtonActive">Zurücksetzen</button>
    </div>
    <div class="col">
    </div>
    <div class="col text-center">
      <button type="button" class="btn btn-lg btn-info" (click)="this.setCurrentEvent()" [disabled]="!this.isSetButtonActive">Setzen</button>
    </div>
    <div class="col text-center">
      <button type="button" class="btn btn-lg btn-success" (click)="this.saveConfigTable()" [disabled]="!this.eventForm.valid" *ngIf="this.isSaveButtonActive">Speichern</button>
      <button type="button" class="btn btn-lg btn-success" (click)="this.saveConfigTable()" [disabled]="!this.eventForm.valid" *ngIf="!this.isSaveButtonActive">Anlegen</button>
    </div>
  </div>

</div>

<div
  class="modal fade"
  id="deleteModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="deleteModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
    <div class="modal-content bg-dark">
      <div class="modal-header text-center text-light">
        <h4 class="modal-title w-100" id="deleteModalLabel">Lösche Veranstaltung: <b>{{this.selectedEvent}}</b></h4>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal">
          Abbrechen
        </button>
        <button type="button"
                class="btn btn-lg btn-danger"
                data-bs-dismiss="modal"
                (click)="this.deleteEvent()">
          Löschen
        </button>
      </div>
    </div>
  </div>
</div>
