<nav class="navbar navbar-dark bg-info bg-opacity-25" style="height: 60px">
  <div class="container-fluid">
    <div class="col-3"></div>

    <div class="col-6">
      <ngx-select-dropdown
        [(ngModel)]="this.modelData"
        (change)="selectionChanged($event)"
        [multiple]="false"
        [config]="dropdownConfig"
        [options]="this.dropdownOptions">
      </ngx-select-dropdown>
    </div>

    <div class="col-3 text-end">
      <button type="button" class="btn btn-success" (click)="this.newEvent()">Neu</button>
    </div>
  </div>
</nav>

<div class="container">

  <div class="row mt-2">
    <div class="col">
      <app-event-config-table>

      </app-event-config-table>
    </div>
  </div>

</div>

