<div class="container">
  <div class="row mt-2">
    <div class="col text-center">
      <div class="btn-group btn-group-lg pt-2">
        <button type="button" class="btn btn-secondary" (click)="doCheckout()" [disabled]="this.checkout == true">Kasse</button>
        <button type="button" class="btn btn-secondary" (click)="doStatistic()" [disabled]="this.checkout == false">Statistik</button>
      </div>
    </div>
  </div>
  <app-checkout-site *ngIf="this.checkout"></app-checkout-site>
  <app-statistic-site *ngIf="this.checkout == false"></app-statistic-site>
</div>
