<app-checkout-site *ngIf="this.activeSite == 'Checkout'"></app-checkout-site>
<app-statistic-site *ngIf="this.activeSite == 'Statistic'"></app-statistic-site>
<app-event-management-site *ngIf="this.activeSite == 'EventManagement'"></app-event-management-site>
<div class="container">
  <div class="row m-5"></div>
  <div class="row mb-4 fixed-bottom">
    <div class="col text-center">
      <div class="btn-group btn-group-lg">
        <button type="button" class="btn btn-secondary" (click)="doCheckout()" [disabled]="this.activeSite == 'Checkout'">Kasse</button>
        <button type="button" class="btn btn-secondary" (click)="doEvents()" [disabled]="this.activeSite == 'EventManagement'">Veranstaltungen</button>
        <button type="button" class="btn btn-secondary" (click)="doStatistic()" [disabled]="this.activeSite == 'Statistic'">Statistik</button>
      </div>
    </div>
  </div>
</div>
