<div class="row mt-2">
  <div class="col m-2 text-center text-light">
    <h2>{{ this.data?.eventName }}</h2>
  </div>
</div>
<div class="row mt-2 d-flex justify-content-center" style="height: 300px">
  <div class="col m-2">
    <ngx-charts-bar-vertical-2d
      [results]="this.data?.plotData"
      [gradient]="gradient"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [legendTitle]="legendTitle"
      (select)="onSelect($event)"
      (activate)="onActivate($event)"
      (deactivate)="onDeactivate($event)"
      style="fill: #d8cfea">
    </ngx-charts-bar-vertical-2d>
  </div>
</div>
