<div class="card text-center text-light bg-secondary bg-opacity-25">
  <div class="card-header">
    <h5>{{ this.data?.name }}</h5>
  </div>
  <div class="card-body mx-auto">
    <h5>{{ this.data?.price }} €</h5>
    <div class="btn-group btn-group-lg pt-2">
      <button type="button" class="btn btn-outline-primary" (click)="decrease()">-</button>
      <button type="button" class="btn btn-primary" disabled> {{ this.data?.counter }} </button>
      <button type="button" class="btn btn-outline-primary" (click)="increase()">+</button>
    </div>
  </div>
</div>
